.span_image {
float: left;
margin-right: 25%;
}

a {
text-decoration: none;
color: black;
}

a:hover {
text-decoration: none;
color: black;
}

.header {
background-color:#EDFDFB;
margin-left:10px;
margin-right:10px;
margin-top:10px;
margin-bottom:10px;
padding-left:10px;
padding-right:10px;
padding-top:10px;
padding-bottom:10px;
border-color:cyan;
border-style:solid;
border-width:1px;
font-family: courrier;
font-weight:bold;
font-size:200%;
border-radius:25px;
box-shadow: 5px 5px 5px #cccccc;
}

.block_haut_gauche {
background-color:#EDFDFB;
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
padding-left:10px;
padding-right:10px;
padding-top:10px;
padding-bottom:10px;
border-color:cyan;
border-style:solid;
border-width:1px;
font-family:Times;
border-radius:25px;
box-shadow: 5px 5px 5px #cccccc;
float: left;
margin-right: 70%;
}

.block_haut_central {
background-color:#EDFDFB;
margin-left:32%;
margin-right:10px;
margin-bottom:10px;
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
border-color:cyan;
border-style:solid;
border-width:1px;
font-family:Times;
border-radius:25px;
box-shadow: 5px 5px 5px #cccccc;
}