# built or read

entity : has a name and a content
   block
   block_list
   entry
   entry_list
   item
   item_list
   justification
   sha1
   surname_catalog

status :
   current
   modified
   new
   next 
   previous

# html text 

action :
   create
   delete
   display   entry_list_select_display 
   justify
   modify
   rename    entry_list_select_rename
   reorder
   save

page : what is displayed

section : an elemenet of a page

sectiontype : 
   <page>_title

   <section_name>_form
   <section_name>_select
   <section_name>_textarea
   <section_name>_title
   <section_name>_titlehelped

moduletype : 
   page     page initial_section ... final_section
   form     page from <form ... </form> no print 
   titlehelped any button is helped 
   save     overwrites current : save on disk, newname -> name, newsurname -> surname

# file name structure entity_status_action_pagetype_functions.php

# file name contains _form => build starts with <form and ends with </form>
 
# the name of a function must begin with its module name

# module name has only one action name

block_name
block_surname

block_newname  untill save. 
block_newsurname

page_template

pervasive_html_initial_section
<    >_page_titlehelped
<    >_page_form
link_to_return_of_return_module_nameoffile
pervasive_html_final_section


what is 'entry_create_save' ? 'entry_create_save_page' ?

# $_GET key is never an action
# an entity has an history next, current, previous
# an item is never new, only blocks may be created
# function_name [module_]section_name_build b

# DATA : an entity that may be a key for $_GET
# DATA are provided by the User
# DATA NEVER use irp_build
# DATA are irp_provide by using irp_retrieve : build_n_store is skipped
# DATA are stored in $_GET and then irp_register and then irp_retrieved
# Consequences  block_current_surname and block_current_name are get_retrieved altogether
# block_current_name_build removed
# name and surname may be get_key
# block_current_surnamenew_save_functions.php  block_current_surnamenew_save.php 
# block_current_namenew_save_functions.php     block_current_namenew_save.php

# entity_surname and entity_name are all DATA.
# entity_surname is read transformed as name and not stored.
# entity_name is read and stored.
# entry_current_surname_from_entry_current_name_build
# entry_current_name_from_entry_current_surname_build
# entry_current_name_from_entry_current_surnamenew_build

# DATA entity needed to be built from other stored entity use an extended name like _from_some_entity

  block_current_surname => GET -> name_of_surname -> block_current_name => irp_store -> surname_of_name -> block_current_surname
  block_current_name => GET -> irp_store -> surname_of_name -> block_current_surname

# NEVER save an action : always save en entity value.
# save an entity modified : write on disk. Remove all fathers. Let irp do the job from disk.